extends layout/default

block styles
  :stylus
    .square
      width 20px
      height 20px
      background-color #AAA

append content
  #drag-me.square

append scripts
  script
    var Drag = require('drag');
    var square = new Drag(document.querySelector('#drag-me'));

    square.on('drag', function (drag) {
      console.log('on drag', drag);
    });
